::-webkit-scrollbar {
  width: 0.4rem;
  position: absolute;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: none;
}

/* #d2dcf0 dae2f3 #c1c9d8*/

::-webkit-scrollbar-thumb {
  background: #d2def4;
}

/* border-top-right-radius: 17px; */

::-webkit-scrollbar-thumb:horizontal {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 0.3rem; /* Set the height for the horizontal scrollbar */
  border: 1px solid #000;
}

* {
  box-sizing: border-box;
}
